BOT_TOKEN=8713393500:AAEJ7E7X8FGHlVthIlsgPVzKQZ7VgbQSvrk
OWNER_ID=8502394982
MONGO_URL=mongodb+srv://akashrajput010208:qy9qMomvLOpbegOP@cluster0.21upfwm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=I_RAMBHAKT_I
