BOT_TOKEN=8009153254:AAFI5b_M55H25WB4H7I2qZ3BuhyyUCGEPgQ
OWNER_ID=8331984102
MONGO_URL=mongodb+srv://akashrajput010208:qy9qMomvLOpbegOP@cluster0.21upfwm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=Itz_Senorita_134
