BOT_TOKEN=8512528171:AAFNLv8w-wFML_IXH60e1lEaXYSSZY3_xD8
OWNER_ID=8502394982
MONGO_URL=mongodb+srv://akashrajput010208:qy9qMomvLOpbegOP@cluster0.21upfwm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=I_RAMBHAKT_I
